<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>org.vyarotsky.gh-prj</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>0CBF4498-3BD7-4BBC-B4FF-86172856D82E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>32CD646B-79EC-4FD1-B9DA-7ADA39971509</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>8F88E139-F6AD-44EF-865F-AAEF8A356C19</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E9D77DEB-68E2-4607-8368-FEF8D4B2E926</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CD329F90-B6EA-4B95-897F-18D7F1ED5E8B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D6FF5984-ED3F-4F15-BD0D-B9F06AE60FD6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vladimir Yarotsky</string>
	<key>description</key>
	<string>Will help you find your repo</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Github Prj</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>32CD646B-79EC-4FD1-B9DA-7ADA39971509</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>gh</string>
				<key>runningsubtext</key>
				<string>Loading repos...</string>
				<key>script</key>
                                <string>chmod +x ./gh &amp;&amp; ./gh "{query}"
if [ "$?" -ne 0 ]; then
  ./notify "Failed to run Github Prj. Did you forget to login (ghlogin in alfred)?"
fi</string>
				<key>title</key>
				<string>Github Prj</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0CBF4498-3BD7-4BBC-B4FF-86172856D82E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./gh -expire
if [ "$?" -eq 0 ]; then
	./notify "Refresh completed!"
else
	./notify "Refresh failed. Did you forget to login (ghlogin in alfred)?"
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D6FF5984-ED3F-4F15-BD0D-B9F06AE60FD6</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ghreload</string>
				<key>text</key>
				<string>Reload github repository list</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>CD329F90-B6EA-4B95-897F-18D7F1ED5E8B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>./login</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E9D77DEB-68E2-4607-8368-FEF8D4B2E926</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ghlogin</string>
				<key>subtext</key>
				<string>Github Prj</string>
				<key>text</key>
				<string>Login to Github</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8F88E139-F6AD-44EF-865F-AAEF8A356C19</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>- `ghlogin` first to log in into your Github account
- `gh &lt;part of repo name&gt;` to find a repo
- `ghreload` to reload stale caches</string>
	<key>uidata</key>
	<dict>
		<key>0CBF4498-3BD7-4BBC-B4FF-86172856D82E</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>32CD646B-79EC-4FD1-B9DA-7ADA39971509</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>8F88E139-F6AD-44EF-865F-AAEF8A356C19</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>CD329F90-B6EA-4B95-897F-18D7F1ED5E8B</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>D6FF5984-ED3F-4F15-BD0D-B9F06AE60FD6</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>E9D77DEB-68E2-4607-8368-FEF8D4B2E926</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/v-yarotsky/gh-prj</string>
</dict>
</plist>
